header  {
    background-color: rgb(99, 0, 0);
    border-bottom: 1px solid white;
    position: static;
    top: 0;
    z-index: 1000;
    
}
.offcanvas {
    background-color: rgb(99, 0, 0);
   
}

.nav-link:hover{
    color: rgb(181, 107, 9) !important;
}
.bi-cart:hover{
  background-color: rgba(238, 1, 1, 0.621) !important;

}
#InputSearch {
    background-color: rgb(123, 34, 34);
    color: white;
}
#InputSearch::placeholder{
    color: white;
}
.nav-item{
            transition: all .4s ease-in-out;
        }
        .nav-item:hover{
            background-color: rgba(0, 0, 252, 0.432);
            padding-left: 15px;
            transition: all .4s ease-in-out;
        }
        /* tablet */
        @media screen and (min-width:577px) and (max-width:992px){
            .offcanvas{
                width: 50% !important;
            }
        }